<table class="border border-black mb-4 flex overflow-hidden sm:table">
  <thead class="flex flex-shrink-0 sm:table-header-group">
    <tr>
      <th scope="col" class="p-2 border border-black text-sky-800 block
                            sm:table-cell">Departs From</td>
      <th scope="col" class="p-2 border border-black text-sky-800 block
                            sm:table-cell">Arrives At</td>
      <th scope="col" class="p-2 border border-black text-sky-800 block
                            sm:table-cell">Departure Date</th>
      <th scope="col" class="p-2 border border-black text-sky-800 block
                            sm:table-cell">Departure Time</th>
      <th scope="col" class="p-2 border border-black text-sky-800 block
                            sm:table-cell">Flight Duration</td>
    </tr>
  </thead>
  <tbody class="flex sm:table-row-group">
    <tr class="text-center flex flex-col sm:table-row">
      <td class="border border-black block p-2 sm:table-cell sm:p-1">
        <%= flight.departure_airport.airport_code %>
      </td>
      <td class="border border-black block p-2 sm:table-cell sm:p-1">
        <%= flight.arrival_airport.airport_code %>
      </td>
      <td class="border border-black block p-2 sm:table-cell sm:p-1">
        <%= flight.departure_date_formatted %>
      </td>
      <td class="border border-black block p-2 sm:table-cell sm:p-1">
        <%= flight.departure_time_formatted %>
      </td>
      <td class="border border-black block p-2 sm:table-cell sm:p-1">
        <%= flight.format_duration %>
      </td>
    </tr>
  </tbody>
</table>