<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="bg-sky-600 border-b-2 border-sky-800">
      <nav class="flex items-center divide-x-2 divide-sky-800">
        <span class="text-white mx-4">
          <%= svg "airplane-takeoff" %>
        </span>
        <%= link_to "Search Flights",
                    root_path,
                    class: "text-white text-2xl p-4 hover:bg-sky-800
                            transition-all duration-200
                            after:block after:w-0 after:h-0.5 after:bg-white
                            after:transition-all hover:after:w-full" %>
        <%= link_to "Find Booking",
                    "bookings/search",
                    class: "text-white text-2xl p-4 hover:bg-sky-800
                            transition-all duration-200
                            after:block after:w-0 after:h-0.5 after:bg-white
                            after:transition-all hover:after:w-full" %>
      </nav>
    </header>

    <main class="flex flex-1 flex-col items-center">
      <%= yield %>
    </main>

    <footer class="bg-sky-600 border-t-2 border-sky-800 flex justify-center gap-4">
      <%= link_to svg("github") + "Github",
                  "https://www.github.com/JoshDevHub/Flight-Booker",
                  class: "text-white text-2xl hover:bg-sky-800 p-2 flex items-center gap-2" %>
    </footer>
  </body>
</html>
