<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="bg-sky-600 border-b-2 border-sky-800">
      <nav class="flex items-center divide-x-2 divide-sky-800">
        <span class="text-white mx-4">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="32" height="32" fill="currentColor" viewBox="0 0 24 24">
            <path d="M2.5,19H21.5V21H2.5V19M22.07,9.64C21.86,8.84 21.03,8.36 20.23,8.58L14.92,10L8,3.57L6.09,4.08L10.23,11.25L5.26,12.58L3.29,11.04L1.84,11.43L3.66,14.59L4.43,15.92L6.03,15.5L11.34,14.07L15.69,12.91L21,11.5C21.81,11.26 22.28,10.44 22.07,9.64Z" />
          </svg>
        </span>
        <%= link_to "Search Flights",
                    root_path,
                    class: "text-white text-2xl hover:bg-sky-800 p-4" %>
        <%= link_to "Find Booking",
                    "bookings/search",
                    class: "text-white text-2xl hover:bg-sky-800 p-4" %>
      </nav>
    </header>
    <main class="flex-1">
      <%= yield %>
    </main>
    <footer class="bg-sky-600 border-t-2 border-sky-800 flex justify-center">
      <%= link_to "Github",
                  "https://www.github.com/JoshDevHub/Flight-Booker",
                  class: "text-white text-2xl hover:bg-sky-800 p-2" %>
    </footer>
  </body>
</html>
